.background {
  position: relative;
  width: 100%;
  padding: 0 0;
  // margin-top: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 750px;
  overflow: hidden;
  object-fit: fill;
}

// http://css3.bradshawenterprises.com/cfimg/

#cf4a img{
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  width: 100%;
  position: absolute;
  padding: 4%;
  padding-top: 5%;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 15s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 10s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 5s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}
