// Place all the styles related to the Api::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../base/font';
@import '../base/color';


///project index/////
.projects-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // max-width: 1800px;
}

.project-index-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 15px;
  border: 1px solid $gray;
  border-radius: 5px;
  background: $pearl-white;
  max-width: 300px;
  height: 350px;

}

.project-index-item img:hover {
  opacity: 0.7;
}

.project-index-item-text {
  display: flex;
  flex-direction: column;
}

.project-index-item-text span {
  margin-top: 10px;
  padding: 0 10px;
  color: $gray-ins;
  font-size: 1em;
}

#item-title {
  font-weight: bold;
  font-size: 1.2em;
  font-family: $helvetica;
  color: black;
}

/////project detail///////

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 4% 10%;
  font-size: 1.1em;
  font-family: $helvetica;
}

.project-detail h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 5%
}

.detail-label {
  font-size: 1.3em;
  color: $gray;
  margin-bottom: 2%;
}

.project-description li {
  list-style-type: circle;
  margin: 0.5em 4em;
}

.project-description iframe {
  width: 40%;
  height: 30%;
}

.project-description img {
  max-width: 40%;
  max-height: 30%;
  border-radius: 5px;
}

.project-button {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 4%;
}

.prj-btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9em;
  // margin-left: 15px;
  cursor: pointer;
}

.prj-btn:hover {
  background: $gray-ins;
  color: $white;
  border: none;
}

/////project-form////


.project-form-button {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 4%;
  margin-left: 27%;
}

.prj-fm-btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9em;
  // margin-left: 15px;
  cursor: pointer;
}

.prj-fm-btn:hover {
  background: $gray-ins;
  color: $white;
  border: none;
}

.detail-label input {
  width: 300px;
  padding: 5px;
  margin: 1%;
  font-size: 0.9em;
  border-radius: 4px;
}

.upload-btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9em;
  margin: 1%;
  margin-bottom: 2%;
  cursor: pointer;
}

.upload-btn:hover {
  background: $gray-ins;
  color: $white;
  border: none;
}

#descript {
  margin-bottom: 5px;
}

.quill {
  font-size: 20px;
}


/////testing modal - not working yet/////
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
