@import '../base/color';
@import '../base/font';

.footer-nav {
  bottom: 0;
  width: 100%;
  height: 80px;
  background: $light-gray;
  border-top: 1px solid $lightest-gray;
}

.footer-links {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.github {
  margin-right: 200px;
}

.linkedin {
}

.footer-links a {
  height: 40px;
  width: 40px;
}
