@import '../base/color';
@import '../base/font';

.header-nav {
  width: 100%;
  height: 80px;
}

.nav-bar {
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
  width: inherit;
  // margin: 10px;
  background: $iron;
  border-bottom: 1px solid $lightest-gray;
}

.appname {
  margin: 20px;
  margin-left: 100px;
  font-family: $pacifico;
  font-size: 40px;
  font-weight: 500;
}

.navbar-button {
  margin: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 240px;
}

.btn {
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

.logout-btn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 15px;
}

.welcome {
  display: block;
  margin: 5px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80px;
  width: 60px;
}
