$light-gray: #eaeded;
$lightest-gray: #f7f7f5;
$gray: #808B96;
$dark-gray: #2c3e50;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;
$kinda-blue: #E9F1F7;

$white: #ffffff;
$pearl-white: #fefefe;
$darker-white: #fdfdfd;

$lotus-gold: #f9f0d3;
$dawn-pink: #f2ece4;
$darker-gold: #e1d7d2;
$light-teal: #d2e1dd;
$kinda-teal: #699;
$iron: #dadbdf;
$silver: #DDDDDD;

$bordeaux: #6f0e0e;
$dark-red: #80000d;
$light-red: #e3260d;

$kinda-yellow: #FFD75E;
$kinda-orange: #FF9C2A;

$pastel: #ffb3ba;
$pastel-orange: #ffdfba;
$pastel-yellow: #ffffba;
$pastel-green: #baffc9;
$pastel-blue: #bae1ff;
