$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;

$helvetica: Helvetica, Arial, sans-serif;
$hotel: 'Grand Hotel', cursive;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$playball: 'Playball', cursive;
