$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;

$helvetica: Helvetica, Arial, sans-serif;
$hotel: 'Grand Hotel';
$lobster: 'Lobster';
$pacifico: 'Pacifico';
$playball: 'Playball';
